@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Outfit');

@font-face {
  font-family: 'Lusitana';
  src: local('Lusitana'), url(./fonts/Lusitana-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'MeriendaOne';
  src: local('MeriendaOne'), url(./fonts/MeriendaOne-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
